In [2]:
! pip install pandas --quiet

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Dataset.csv')

In [5]:
#criando dicionário para renda média
renda_map = {
    'R$ 2.001 - R$ 4.000': 3000,
    'R$ 4.001 - R$ 6.000': 5000,
    'R$ 6.001 - R$ 8.000': 7000,
    'R$ 8.001 - R$ 10.000': 9000,
    'Acima de R$ 10.000': 11000
}

#Add novo campo de renda média, mas com valores inteiros 
df['renda_media_numerica'] = df['Renda Média'].map(renda_map)

In [6]:
media_renda = df['renda_media_numerica'].mean()
print(media_renda)

menor_renda_media = df[df['renda_media_numerica'] < media_renda]


# Filtrando valores maiores ou iguais a 3000
maior_renda_media = df[df['renda_media_numerica'] > media_renda]

6988.344988344988

In [7]:
menor_renda_media

,Nome,Sobrenome,Email,UF,Cidade,Genero,Renda Média,Escolaridade,Estado Civil,renda_media_numerica
2,Sergio,Pereira,olivia.freitas@exemplo.com,CE,Fortaleza,Feminino,R$ 2.001 - R$ 4.000,Ensino Médio,Solteiro(a),3000.0
3,Gustavo,Oliveira,gustavo.melo@exemplo.com,SP,São Paulo,Feminino,R$ 2.001 - R$ 4.000,Doutorado,Viúvo(a),3000.0
7,Bruno,Freitas,mariana.silva@exemplo.com,MA,São Luís,Feminino,R$ 2.001 - R$ 4.000,Pós-Graduação,Casado(a),3000.0
11,Rafaela,Melo,ana.freitas@exemplo.com,RN,Natal,Masculino,R$ 4.001 - R$ 6.000,Ensino Superior,Viúvo(a),5000.0
16,Igor,Costa,rafaela.costa@exemplo.com,TO,Palmas,Masculino,R$ 4.001 - R$ 6.000,Pós-Graduação,Casado(a),5000.0
...,...,...,...,...,...,...,...,...,...,...
985,Ana,Freitas,helena.freitas@exemplo.com,RN,Natal,Masculino,R$ 4.001 - R$ 6.000,Mestrado,Casado(a),5000.0
990,Pedro,Souza,sergio.freitas@exemplo.com,MA,São Luís,Feminino,R$ 2.001 - R$ 4.000,Ensino Médio,Casado(a),3000.0
995,Ana,Souza,helena.souza@exemplo.com,GO,Goiânia,Feminino,R$ 2.001 - R$ 4.000,Mestrado,Casado(a),3000.0
997,Karen,Gomes,nicolas.pereira@exemplo.com,TO,Palmas,Feminino,R$ 4.001 - R$ 6.000,Ensino Superior,Viúvo(a),5000.0
998,Carlos,Santos,ana.santos@exemplo.com,RN,Natal,Masculino,R$ 2.001 - R$ 4.000,Ensino Fundamental,Casado(a),3000.0

In [8]:
maior_renda_media

,Nome,Sobrenome,Email,UF,Cidade,Genero,Renda Média,Escolaridade,Estado Civil,renda_media_numerica
0,Sergio,Costa,eduardo.oliveira@exemplo.com,DF,Brasília,Masculino,R$ 6.001 - R$ 8.000,Ensino Superior,Viúvo(a),7000.0
1,Eduardo,Melo,quintino.melo@exemplo.com,PE,Recife,Masculino,R$ 6.001 - R$ 8.000,Doutorado,Divorciado(a),7000.0
4,Juliana,Oliveira,carlos.almeida@exemplo.com,DF,Brasília,Masculino,Acima de R$ 10.000,Ensino Superior,Divorciado(a),11000.0
6,Mariana,Oliveira,eduardo.souza@exemplo.com,TO,Palmas,Feminino,R$ 6.001 - R$ 8.000,Ensino Superior,Casado(a),7000.0
8,Tatiana,Santos,gustavo.freitas@exemplo.com,SC,Florianópolis,Feminino,R$ 8.001 - R$ 10.000,Pós-Graduação,Viúvo(a),9000.0
...,...,...,...,...,...,...,...,...,...,...
992,Juliana,Souza,nicolas.oliveira@exemplo.com,SP,São Paulo,Masculino,R$ 6.001 - R$ 8.000,Ensino Fundamental,Divorciado(a),7000.0
993,Eduardo,Santos,mariana.freitas@exemplo.com,MS,Campo Grande,Feminino,Acima de R$ 10.000,Pós-Graduação,Solteiro(a),11000.0
994,Igor,Silva,sergio.melo@exemplo.com,PI,Teresina,Masculino,R$ 8.001 - R$ 10.000,Pós-Graduação,Viúvo(a),9000.0
996,Bruno,Costa,sergio.gomes@exemplo.com,PI,Teresina,Masculino,Acima de R$ 10.000,Ensino Médio,Viúvo(a),11000.0
999,Diana,Oliveira,igor.oliveira@exemplo.com,CE,Fortaleza,Feminino,R$ 8.001 - R$ 10.000,Mestrado,Viúvo(a),9000.0